$main-color: #fff;
$sub-color: #000;

.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background-color: $main-color;

  .logo-container {
    align-self: center;
    padding-left: 25px;
    .logo {
      font-family: Poppins, sans-serif;
      font-size: 38px;
      font-weight: bold;
      color: $sub-color;
    }
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    .nav-link {
      min-width: 66px;
      padding: 10px 15px;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      color: $sub-color;
    }
  }
}
